<!DOCTYPE html>  
<html>
<head>
	<!-- <link rel="stylesheet" href="/style/app.css"> -->

	<title></title>
</head>
<body>
	<h1>Mars Mission show page</h1>
	<span class="missions"></span>
		<ul>
			<div>
				<li>Name: <%=marsMissions.name%></li>
				<li>Launch Date: <%=marsMissions.launchDate%></li>
				<li>Operator: <%=marsMissions.operator%></li>
				<li>MissionType: <%=marsMissions.missionType%></li>
				<li>Image: <%=marsMissions.img%></li> 
			</div>
		</ul>
</body>
</html>
