<!DOCTYPE html>  
<html>
<head>
	<!-- <link rel="stylesheet" href="/style/app.css"> -->

	<title></title>
</head>
<body>
	<h1>Mars Mission show page</h1>
	<span class="missions"></span>
		<ul>
			<div>
				<li><%=marsMissions.name%></li>
				<li><%=marsMissions.launchDate%></li>
				<li><%=marsMissions.operator%></li>
				<li><%=marsMissions.missionType%></li>
				<li><%=marsMissions.img%></li>
			</div>
		</ul>
</body>
</html>

<!-- <%=mission%> -->
